@import "./colors.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Poppins:wght@200;300&display=swap');
@import url('//db.onlinewebfonts.com/c/b78d933f8aa6b9284c1d3efd3db0a9b9?family=Avenir+Black');


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,
h2,
h3,
h4,
p {
	line-height: 30px;
}

.content-global{
	font-family: 'Unbounded', cursive;
    width: 100%;
    min-height: auto;
    height: auto !important;
    flex-direction: column; 
    align-items: center;
    display: flex;
	.conteudo-cotainner{
		background-color: #fff;
		width: 100%;
		min-height: 800px;
	}
	@media(max-width:780px) {
	    min-height: 900px;
		//padding: 10px;
	}
}

  .contain{
	position: relative;
	//align-items: center;
	justify-content: center !important;
	//background-color: aqua;
	min-height: 984px;
	height: auto;
	padding-left: 110px !important;
	padding-right: 50px !important;
	padding-top: 20px !important;
	padding: 40px;
	@media (max-width:768px){
		padding: 10px !important;
	    margin-bottom: 40px;
	  }
  }
  .titulo-page{
	width: 88%;
	padding: 5px;
	padding-top: 15px !important;
	padding-left:15px !important ;
	margin-left: 110px;
	background-color: black;
	color: #fff;
	font-size: 20px;
	letter-spacing:3px;
	text-transform: uppercase;
	@media (max-width:768px){
		margin-left: 0px;
		text-align: center !important;
		width: 100%;
	  }
  }
  .inputlogin{
    width: 80%;
    height: auto;
      border-radius: 0.1rem;
      outline: initial!important;
      -webkit-box-shadow: initial!important;
     // box-shadow: none!important;
      font-size: .8rem;
      padding: 0.7rem 0.75rem 0.65rem 0.75rem;
      line-height: 1.5;
      border: 1px solid #d7d7d7;
      background: #fff;
      color: #212121;
      margin-top: 2px;
      box-shadow: 0 4px 8px 1px #d7d7d7 !important;
  }
  .inputlogin:active, .inputlogin:focus{
    border: 1px solid #3e92e5;
    background-color: #c8e2fd;
  }
  .select{
	width: 100% !important;
	font-size: .8rem;
	padding: 0.7rem 0.75rem 0.65rem 0.75rem;
	line-height: 1.5;
	border: 1px solid #d7d7d7;
	//background: #fff;
	color: #212121;
	margin-top: 2px;
	box-shadow: 0 4px 8px 1px #d7d7d7 !important;
	letter-spacing: 2px !important;
	option{
		letter-spacing: 2px !important;
	}
  }
  .select:active, .select:focus{
    border: 1px solid #3e92e5;
	background-color: #c8e2fd;
  }
  .coluna-dupla{
	width: 100%;
	display: flex;
	.bloco-input{
		padding: 10px;
		padding-top: 0px !important;
		width: 100%;
		.inputlogin{
			width: 100%;
		}
		@media (max-width:768px){
			margin-bottom: 0!important;
			width: 100% !important;
		  }
	}
	@media (max-width:768px){
		flex-direction: column;
	  }
  }
  .title-input{
	font-size: 15px;
	color: #6b6868;
  }

  .tabela-responsiva{
	margin-top: 30px !important;
	box-shadow: 0 4px 8px 1px #121213;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
  .table-global{	

	thead{
		border-bottom:1px solid #6b6868;
		padding: 5px;
		background-color: #ebebec;
	}
  }
}

//====tabela com botão mais fixo ==============================
.table-scroll {
	position:relative;
	max-width:1200px;
	margin:auto;
	overflow:hidden;
}
.table-wrap {
	width:100%;
	overflow:auto;
}
.table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:separate;
	border-spacing:0;
}
.table-scroll th {
	//border-bottom: 2px solid #d4d2d2 !important;
	background-color: #ebebec !important;
}
.table-scroll td {
	//border-right: 2px solid #d6d4d4 !important;
	border-bottom: 3px solid #f6f3f3 !important;
	padding:20px 10px;
	background:#fff;
	white-space:nowrap;
	vertical-align:top;	
	cursor: default;
}
 tr:hover {
	background:#a9caea !important;
}
.table-scroll th{
	padding:10px 10px;
	background:#fff;
	white-space:nowrap;
	vertical-align:top;	
}
.Nome-completo{
  max-width: 250px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
thead{
	border-bottom:1px solid #6b6868 !important;
	background-color: #ebebec !important;
}
.table-scroll thead, .table-scroll tfoot {
	background:#f9f9f9;
	
}
.fixed-table {
	position:absolute;
  z-index: 1000;
  right:0 !important;
  margin-right: 10px !important;
//   height: 33px;
  padding-top: 11px !important;
  align-items: center !important;
  .btn{
    padding: 2px !important;
	padding-left: 6px !important;
	padding-right: 6px !important;
	box-shadow: 0 2px 4px 1px #121213 !important;
	border: none !important;
  }
  .btn-edit{
	background-color: #2683df ;
	color: #fff;
  }
  .btn-edit:hover{
	background-color: #2363a3 ;
	color: #fff;
  }
  .btn-delete{
	background-color: #ff4848 ;
	color: #fff;
  }
  .btn-delete:hover{
	background-color: #a61010 ;
	color: #fff;
  }
	//pointer-events:none;
}
.fixed-table th, .fixed-table td {
	visibility:hidden
}
.fixed-table td, .fixed-table th {
	border-right: 1px solid #6b6868 !important;
}
.fixed-table tbody th {
	visibility:visible;
	color:blue;
}
.fixed-table .fixed-side {
	background:#eee;
	visibility:visible;
}
.fixed-table thead, .fixed-table tfoot {
 // background:transparent;
}
.btn-fixed-corretor{
  height: 65px;
}
.btb-table{
  height: 65px !important;
}
.td-fixo{
	border-left: 2px solid #d4d2d2 !important;
	background-color: #fdfdff !important;	
}

.modal-img{
	font-family: 'Unbounded', cursive;
	text-align: center;
	align-items: center;
	justify-content: center;
	.modal-content{
		top: -30px;
		@media(max-width:790px) {
			
		  }
		}
}
.modal-confirm{
	font-family: 'Unbounded', cursive;
	text-align: center;
	align-items: center;
	justify-content: center;
	.modal-content{
		top: 90px;
		box-shadow: 0 2px 4px 1px #505052 !important;
		@media(max-width:790px) {
			
		  }
		}
}
.total-loadingCreate{
	min-height: 520px !important;
}
.total-loadingUpDate{
	min-height: 520px !important;
}
.total-loading{
	//background-color: #bedaf7;
	min-height: 600px;
	align-items: center !important;
.div-loading{
	flex-direction: column !important;
	align-items: center;
	height: 90px;
	h2{
		text-align: center !important;
	}
}
.spinner-border{
	width: 60px;
	height: 60px;
	color: #2363a3;
	--bs-spinner-border-width: 0.5em;
	margin-left: 30px;
}
}
.title-pesBloco{
	background-color: #f1eeee;
	padding: 3px;
	padding-bottom: 5px !important;
	
}
.pesBloco{
	width: auto !important;;
}
.btn-direito{
	position: absolute;
	float: right !important;
	right:15px;
	margin-right: 12px;
	top:25px;
	@media(max-width:790px) {
		top:20px;
	}
   }
   .bloco-pesquisa-input{
	width: 60%;
	@media(max-width:790px) {
	width: 100%;
	}
   }
   .select-comp{
	width: 100% !important;
	font-size: .8rem;
	padding: 0.3rem 0.5rem 0.3rem 0.5rem !important;
	
	line-height: 1.5;
	
	color: #212121;
	margin-top: 2px;
	box-shadow: 0 4px 8px 1px #d7d7d7 !important;
	letter-spacing: 2px !important;
	option{
		letter-spacing: 2px !important;
		height: 40px !important;
	}
  }
  .select-comp:active, .select-comp:focus{
    border: 1px solid #3e92e5;
	background-color: #c8e2fd;
  }

  .inputcod{
    width: 200px;
    height: auto;
      border-radius: 0.1rem;
      outline: initial!important;
      -webkit-box-shadow: initial!important;
     // box-shadow: none!important;
      font-size: .8rem;
      padding: 0.7rem 0.75rem 0.65rem 0.75rem;
      line-height: 1.5;
      border: 1px solid #d7d7d7;
      background: #fff;
      color: #212121;
      margin-top: 2px;
      box-shadow: 0 4px 8px 1px #d7d7d7 !important;
	  @media(max-width:790px) {
		width: 100% ;
		}
  }
  .inputcod:active, .inputcod:focus{
    border: 1px solid #3e92e5;
    background-color: #c8e2fd;
  }
.inputparceiro{
	width: 100%;
	box-shadow: 0 4px 8px 1px #d7d7d7 !important;
}
  
  .inputparceiro:active, .inputparceiro:focus{
    border: 1px solid #3e92e5;
    background-color: #c8e2fd;
  }

  .bloco-endereco{
	width: 70% !important;
	@media(max-width:790px) {
		width: 100% !important ;
		}
  }
  .bloco-bairro{
	width: 30% !important;
	@media(max-width:790px) {
		width: 100% !important;
		}
  }
  .bloco-municio{
	width: 40% !important;
	@media(max-width:790px) {
		width: 100% !important;
		}
  }
  .bloco-uf{
	width: 27% !important;
	@media(max-width:790px) {
		width: 100% !important;
		}
  }
  .boco-lat-log{
	width: 50% !important;
	@media(max-width:790px) {
		width: 100% !important;
		}
  }
  .bloco-visitas{
	margin-top: 20px;
	width: 100%;
	height: auto !important;
	padding: 20PX;
	padding-bottom: 0px!important;
  }
  .divisao{
	width: 100%;
	border-bottom: 4px solid #cbc7c7;
  }
  .divisa{
	width: 100%;
	border-bottom: 2px solid #e3dddd;
  }
  .bloco-interno{
	//padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 20px;
	width: 50% !important;
	h2{
		margin-bottom: 20px;
	}
	@media(max-width:790px) {
		margin-right: 0px;
		width: 100% !important;
		}
  }
  .bloco-visita-geral{
	box-shadow: 0 4px 8px 1px #d7d7d7 !important;
  }
  .divbotoes-edit{
	justify-content: space-between;
	display: flex;
	@media(max-width:790px) {
		flex-direction: column;
		}
  }
  #btn-edit-par{
	width: 40%;
	@media(max-width:790px) {
		width: 100%;
		}
  }
  .cod-desc-Tabela{
	display: flex;
  }
  .btn-user{
	width: 49% !important;
	@media(max-width:790px) {
		width: 100% !important;
		}
  }
  .coluna-botoes-cad-user{
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	text-align: center !important;
	button{
		text-align: center !important;
	}
	justify-content: center;
	@media(max-width:790px) {
		flex-direction: column;
		}
  }
  .bloco-permissao{
	padding-left: 30px !important;
	padding-right: 30px !important;
	justify-content: center !important;
	button{
		text-align: center !important;
		width: 50% !important;
		margin-left: 25% !important;
		@media(max-width:790px) {
			width: 100% !important;
			margin-left: 0% !important;
		}
	}
	@media(max-width:790px) {
		padding-left: 10px !important;
	padding-right: 10px !important;
		}
  }
.coluna-dupla-menu{
	justify-content: center !important;
}
  .bloco-menu-cad{
	width: 49% !important;
	@media(max-width:790px) {
		width: 100% !important;
	}
  }
  .btn-cad-menu{
	margin-left: 30px !important;
	padding: 12px !important;
	font-size: 15px !important;
	text-align: center !important;
	width: 300px !important;
  }
  .btn-cad-menu1{
	padding: 12px !important;
	font-size: 15px !important;
	text-align: center !important;
	width: 300px !important;
  }
  .bloco-paginas{
	display: flex !important;
    flex-wrap: wrap;
	width: 95%;
	border: 2px solid #bcb9b9;
	min-height: 40px;
	margin:auto;
	margin-top: 30px !important;
	padding: 20px;
  }
  .grupo-de-paginas{
	width: 300px !important;
  }
  .grupo-de-paginasEdit{
	width: 270px !important;
  }
  .btn-chek-excluir{
	background-color: #da4f4f !important;
	border:none;
	padding:0.5px;
	color: #c8e2fd;
	font-size: 12px;
	border-radius: 1px;
  }
  .bloco-btn-perm{
	width: 30% !important;
  }
  h1{
	font-size: 25px !important;
}
h2{
	font-size: 17px !important;
}
ul{
	padding-left: 0px !important;
	
}
.nome-menu{
	color: #bcb9b9 !important;
	font-family: 'Unbounded', cursive;
	font-size: 20px;
}.nome-menu:hover{
	color:#3e92e5 !important;
}
#icon-menu{
	font-size: 22px !important;
	margin: 5px !important;
	margin-right: 8px !important;
}

#icon-sub-menu{
	font-size: 20px !important;
	margin: 5px !important;
	margin-right: 8px !important;

}

.accordion-item{
	background: transparent !important;
}
.menus-nav{
	color: #bcb9b9 !important;	

}
.menus-nav:hover{
	color:#3e92e5 !important;
}
p{
	margin-bottom: 0px !important;
}
#bloco-recupera{
	font-size: 18px !important;
	margin-bottom:20px !important;
}
#bloco-recupera2{
	font-size: 18px !important;
	margin-bottom:10px !important;
	margin-top:10px !important;
}
#bloco-segundo-texto{
	font-size: 18px !important;
	line-height: 22px !important;
}
.modal-perm{
	.modal-content{
	box-shadow: 0 4px 8px 1px #121213 !important;
	}
}
.bloco-paginasEdit{
	display: flex !important;
    flex-wrap: wrap;
	width: 100%;
	border: 2px solid #bcb9b9;
	min-height: 40px;
	margin:auto;
	margin-top: 30px !important;
	padding: 10px;
  }
  .plano-fundo-usuario{
	width: 80% !important;
	margin: auto !important;
	background-image: url("../assets/BANNERUSUARIOHOME.png");
  background-repeat: no-repeat, repeat;
  background-size: 100%;
  background-color: #3e92e5;
  height: 850px;
  }